*, *::after, *::before {
	box-sizing: border-box;
}

.back {
	background-image: linear-gradient(#F7EDFF, #E4C1F9);
    background-size: cover;
	background-attachment: fixed;
}

.button {
	background-color: #D3F8E2;
	padding: 10px 15px;
	border-radius: 10px;
	box-shadow: 1px 1px 2px 3px grey;
	border: 1px;
}
.button:hover {
	background-color: #b7edcc;
	transform: scale(1.03);
}

.button:active {
	background-color: #a6e0bd;
	transform: scale(0.97);
}

.cancel-button {
	background-color: #EDE7B1;
	padding: 10px 15px;
	border-radius: 10px;
	box-shadow: 1px 1px 2px 3px grey;
	border: 1px;
}
.cancel-button:hover {
	background-color: #dbd495;
	transform: scale(1.03);
}

.cancel-button:active {
	background-color: #d4cb81;
	transform: scale(0.97);
}

.input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
}

.input:hover {
	border: 2px solid black;
}

.input:active:focus {
	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid black;
}

.modal-container {
	background-color: rgba(0, 0, 0, 0.2);
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	opacity: 0;
	pointer-events: none;
	transform: scale(0);
	transition: 200ms ease-in-out;
}

.modal-container.show {
	opacity: 1;
	pointer-events: auto;
	transform: scale(1);
}

.modal {
	position: fixed;
	background-image: linear-gradient(#E6F6FF, #A9DEF9);
	border: 1px solid black;
	padding: 30px 50px;
	border-radius: 10px;
	width: 600px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	transition: 200ms ease-in-out;
	max-width: 80%;
	text-align: center;
	z-index: 5;
}