*, *::after, *::before {
	box-sizing: border-box;
}

.modal-container {
	background-color: rgba(0, 0, 0, 0.3);
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	opacity: 0;
	pointer-events: none;
}

.modal-container.show {
	opacity: 1;
	pointer-events: auto;
}

.modal {
	background-color: white;
	padding: 30px 50px;
	border-radius: 5px;
	width: 600px;
	max-width: 100%;
	text-align: center;
	z-index: 5;
}